@import "./fonts.scss";
@import './mixins.scss';

* {
  padding: 0;
  margin: 0;
  font-family: $goldReg;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}


.PageNotFound {
  width: 100%;
  height: 100vh;
  @include flexbox();
}